<pre class="stamp stamp-small" aria-hidden="true">
╔██████████████████████████████████████████████████████████
║██████████████████████████████████████████████████████████
║███═══════════════════════════════════════════════════╗███
║███░╔███████████████░░╔█████░░╔██████░░░░░░░░░╔██████░║███
║███░║███████████████░░║█████░░║██████░░░░░░░░░║██████░║███
║███░║██████════════╝░░║█████░░║██████████████████████░║███
║███░║█████████████╔███║█████░░║██████████████████████░║███
║███░║█████████████║███║█████░░║██████████████████████░║███
║███░║██████══════╝╚══╝║█████░░║██████═════════╗██████░║███
║███░║███████████████░░║█████░░║██████░░░░░░░░░║██████░║███
║███░║███████████████░░║█████░░║██████████████████████░║███
║███░╚══════════════╝░░╚════╝░░║██████████████████████░║███
║███░╔██████████████████████░░░║██████████████████████░║███
║███░║██████████████████████░░░╚═════════════════════╝░║███
║███░╚═══════════════╗██████░░░░░░░░░░░╔██████░░░░░░░░░║███
║███░╔██████████████████████░░░░░░░░░░░║██████░░░░░░░░░║███
║███░║██████████████████████░░░░░░░░░░░╚═════╝░░░░░░░░░║███
║███░║██████═══════════════╝░░░╔██████████████████████░║███
║███░║██████████████████████░░░║██████████████████████░║███
║███░║██████████████████████░░░║██████████████████████░║███
║███░╚═════════════════════╝░░░╚═════════════════════╝░║███
║██████████████████████████████████████████████████████████
║██████████████████████████████████████████████████████████
╚═════════════════════════════════════════════════════════╝
</pre>