<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  <link rel="icon" href="https://fav.farm/🦥" />
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | truncate: 160 }}">
{% elsif site.description %}
  <meta name="description" content="{{ site.description }}">
{% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
</head>
<body>
  <header style="position: relative;">
    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>home</a>
      <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog' %}class="active"{% endif %}>blog</a>
      <a href="{{ '/garden/' | relative_url }}" {% if page.url contains '/garden' %}class="active"{% endif %}>garden</a>
      <a href="{{ '/now/' | relative_url }}" {% if page.url contains '/now' %}class="active"{% endif %}>now</a>
      <a href="{{ '/links/' | relative_url }}" {% if page.url contains '/links' %}class="active"{% endif %}>links</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a> • <a href="https://hardcover.app/@greatsandwiches">hardcover</a> • <a href="https://github.com/jomolin">github</a> • <a href="{{ '/feed.xml' | relative_url }}">rss</a>
    </p>
  </footer>
  {% include totem.html %}
</body>
</html>